/* <reset> */

body { margin: 0 }

h1, h2, h3, h4, h5, h6 { font-weight: normal }

table {
  border-collapse: collapse;
  border-spacing: 0
}

th, td {
  text-align: left;
  vertical-align: top
}

img, iframe { border: 0 }

/* </reset> */

html, body {
  background-color: #FFF9F1;
  color: #39201B;
  transition: color 0.5s, background-color 0.5s;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #752616;
    color: #FFF9F1;
  }
}

body {
  text-align: center;
  height: 100%;

  font-family: Caviar Dreams;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  font-family: Excalibur Nouveau;
}

h1 {
  margin-top: 30px;
  margin-bottom: 0;
}

h1 + div {
  margin-bottom: 30px;

  font-weight: 500;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

section {
  margin: 0 20px;
}

footer {
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 10px;
}

a, a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  width: 100%;
  height: 100%;
}

@media (min-height: 540px) {
    main {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

div.logo {
    padding: 50px 0px;
}

div.logo img {
    max-width: 35%;
    filter: drop-shadow(0px 0px 10px #222);
    z-index: 10;
}

@media (prefers-color-scheme: dark) {
    div.logo img {
        filter: drop-shadow(0px 0px 20px #222);
    }
}

@media (prefers-color-scheme: light) {
    div.logo img.dark {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    div.logo img.light {
        display: none;
    }
}

div.lines {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

div.curve {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/elements-curve.png');
    background-position: center bottom;
    background-size: 625px;
    background-repeat: no-repeat;
}

div.straight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/elements-straight.png');
    background-position: center top;
    background-size: 150px;
    background-repeat: repeat-y;
}

img.icon {
    display: inline-block;
    height: 30px;
}

@media (prefers-color-scheme: dark) {
    img.icon svg {
        color: #000;
    }
}

.address {
    margin-top: 20px;
    z-index: 10;
    font-size: 120%;
    //font-family: Excalibur Nouveau;
    //font-style: italic;
    //font-weight: bold;
}

.social {
    margin-top: 20px;
    z-index: 10;
    font-size: 200%;
}

.social a {
    color: inherit;
}
